// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@font-face {
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;
	src: url(atom://php-class-tree/resources/fonts/icomoon.woff) format('woff');
}

.make-runner-tree-view {
	position: relative;
	width: 200px;
	height: 100%;
	overflow: hidden;

	> .resize-handle {
		position: absolute;
		top: 0;
		bottom: 0;
		right: -5px;
		z-index: 10;
		display: block;
		width: 10px;
		cursor: e-resize;
	}

	> .scroller {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 27px;
		display: block;
		overflow: auto;

		> .list-tree {
			min-height: 100%;
			width: auto;
			min-width: -webkit-min-content;
			padding-left: 5px;
			padding-right: 10px;
		}
	}
}


.make-runner-panel {
}

.icon-project::before{
    content: url(atom://make-runner-panel/resources/icon/box.png);
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

.icon-target::before{
    content: url(atom://make-runner-panel/resources/icon/star.png);
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    width: 16px;
    height: 16px;
    margin-top: 1px;
}
